<div class="cards">
  {% for c in site.campuses %}
  <div class="card campus">
    {% photo c.photo, "", "(min-width: 720px) 50vw, 100vw" %}
    <h3>{{ c.name }}</h3>
    <p class="campus__who">{{ c.who }}</p>
    <p>{{ c.address }}</p>
    <a href="{{ c.mapUrl }}" rel="noopener" target="_blank">Open in Google Maps</a>
  </div>
  {% endfor %}
</div>
